{% extends 'base.html.twig' %}

{% block title %}Incription sur la liste de visite{% endblock %}

{% block body %}

{% include("menu/header.html.twig") %}
        <div class="example-wrapper text-center mt-3">
            
        <h1 class="display-5">Vos stats</h1>
        <hr>
            <div class="w-75 m-auto" id="stats" data-user="{{user.id}}"></div>
        
        </div>
        {% include('footer/footer.html.twig') %}
    </div> 
  </div>
</div>
{% endblock %}
