<div class="col-md-6 m-auto text-center">
  <hr>
  <div>
        <b class="fst-italic p-2 tunaweza-text-blue">Powered by Tunaweza Inc. </b>
    </div>
    <div class="p-3">
        <a class="p-2 tunaweza-text-red" href="#"> <i class="bi bi-facebook"></i></a>
        <a class="p-2 tunaweza-text-red" href="#"> <i class="bi bi-whatsapp"></i></a>
        <a  class="p-2 tunaweza-text-red" href="#"> <i class="bi bi-messenger"></i></a>
        <a class="p-2 tunaweza-text-red" href="#"> <i class="bi bi-instagram"></i></a>
    </div>
</div>