{% extends 'base.html.twig' %}

{% block title %}Numero sur la liste{% endblock %}

{% block body %}

<div class="row-fluid">
    <div class="col-md-9 text-center m-auto">
        
        <h1 class="display-2 m-2">Bravo vous êtes sur la liste 🎉 ! </h1>

        <h3 class="display-5 m-5 ">Vous êtes <strong class="text-warning rounded-circle p-4 bg-success ">N°{{schedule.arrivalPosition}}</strong></h3>
        <strong class="text-danger mark small">
        <i>Veuillez patienter dans la salle d'attente, le docteur vous appellera!</i>
        </strong>
        <hr>
        <div>
            <img src="{{asset('images/tunaweza-logo.png')}}" alt="logo" title="Tunaweza logo" width="150"/>
        </div>
        
    </div>
</div>
{% endblock %}
