{% extends 'base.html.twig' %}

{% block title %}Numero sur la liste{% endblock %}

{% block body %}

<div class="row-fluid">
    <div class="col-md-9 text-center m-auto">
        
        <h1 class="display-3 m-2 mt-5 tunaweza-text-blue">Bravo vous êtes sur la liste 🎉 ! </h1>

        <h3 class="display-5 m-5 tunaweza-text-blue">Vous êtes <strong class="text-white rounded-circle p-4 tunaweza-bg-red ">N°{{schedule.arrivalPosition}}</strong></h3>
        <strong class="tunaweza-text-red mark small">
        <i>Veuillez patienter dans la salle d'attente, le docteur vous appellera!</i>
        </strong>
        <!--<hr>
        <div>-->
            <!--<img src="{{asset('images/tunaweza-logo.png')}}" alt="logo" title="Tunaweza logo" width="150"/>-->
            {% include("footer/_mini-footer.html.twig") %}
       <!-- </div>-->
        
    </div>
</div>
{% endblock %}
